

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------ALL ABOVE COPIED FOR FUNCTION---------*/
html, body {
    height: 100%;
    width: 100%; 
    padding: 0;
    margin: 0;
    background-image: url("tokyo-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
}

.center {
    align-self: center;
    width: 30%;
    padding: 3%;
    margin-top: 20px;
    margin-bottom: 25px;
    background: rgba(165, 80, 23, 0.80);
    text-align: right;
}


.center {
    width: 40%;
    padding: 3%;
    padding-left: 25%;
    background: rgb(14, 25, 63, 0.75);
    text-align: right;
}

h1 {
    text-decoration-line: underline;
    text-decoration-style: solid;
    font-family: calling-code, sans-serif;
    font-style: normal;
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

h2 {
    font-family: calling-code, sans-serif;
    font-style: italic;
    font-size: 1.5 em;
    font-weight: normal;
    color: lightgray;
    
}

#p {
    font-family: calling-code, sans-serif;
    font-style: normal;
    text-align: right;
    font-size: 1.1em;
    color:rgb(223, 171, 128);
}

#p {
    font-family: calling-code, sans-serif;
    font-style: italic;
    font-size: 1.1em;
    color:rgb(223, 171, 128);
}